@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET LINE ENDS HERE */

html, body {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --debugging: 1px solid red;
  --primary-color: #B4D4FF
}

body {
  background-color: var(--primary-color);
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

/* HEADER */

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#city_info > .city_info__general {
  display: flex;
  flex-direction: column;
}

#city_info > .city_info__general > .conditionStatus {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 0.5rem;
}

#city_info > .city_info__general > .cityName {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#city_info > .cityLocalTime {
  font-size: 1.5rem;
}

#city_info > .conditionIcon {
  height: 100px;
}

#city_info > .additional_info {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.additional_info > .temperature {
  display: flex;
  font-size: 4.5rem;
  align-self: center;
  margin: 0;
}

.additional_info > hr {
  height: 80px;
}

.tempsymbol {
  font-size: 1.5rem;
}

.tempsymbol2 {
  font-size: 1rem;
}

.temperature::after {
  background-color: red;
}

.stats > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3rem;
}

.stats > .feelsLike {
  display: flex;
}
/* MAIN */